{
  "presets": [
    [
      "@babel/preset-env", {
        "useBuiltIns": "usage",
        "targets": {
          "esmodules": true
        }
    }]
  ],
  "plugins": [
    [
      "@babel/plugin-proposal-decorators", {
        "decoratorsBeforeExport": true
    }],
    "@babel/plugin-syntax-jsx",
    "fbt",
    "fbt-runtime"
  ]
}